<h1>Planned Jump Runs</h1>
<section *ngIf="selectedRun">
  <div class="inner-container">
    <h2>{{selectedRun.name}}</h2>
    <div>id: {{selectedRun.id}}</div>
    <div>
      <label for="">name:
        <input [(ngModel)]="selectedRun.name" placeholder="name">
      </label>
    </div>
  </div>
</section>
<section>
  <div class="inner-container">
    <div>
      <div *ngFor="let run of runs" (click)="onSelect(run)" class="card" [class.selected]="run === selectedRun">
        <span class="date">{{run.date}}</span>
        <div class="content">
          <h3>{{run.name}}</h3>
        </div>
      </div>
    </div>
  </div>
</section>
