/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body,
main,
section {
  height: 100%;
}
main {
  display: flex;
  align-items: stretch;
}
main section {
  padding: 25px;
  border-right: 1px solid #000;
}
main section:last-child {
  border: none;
}
.main {
  width: 70%;
}
.sidebar {
  width: 30%;
}

main.dashboard .main {
  display: flex;
  flex-wrap: wrap;
}
main.dashboard .main .date,
main.dashboard .main > button {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  margin: 25px;
  transition: .3s linear;
  color: #000;
  text-decoration: none;
  display: block;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
main.dashboard .main button {
  cursor: pointer;
}
main.dashboard .main .card {
  margin: 25px;
}
main.dashboard .main .date {
  margin: 0;
}

main.dashboard .main a:hover,
main.dashboard .main button:hover {
  background: #000;
  color: #fff;
}

main.run-detail {
  display: flex;
}
main.run-detail .main {
  padding: 0;
}

main.run-detail .back,
main.run-detail table,
main.run-detail .save {
  width: 100%;
}

main.run-detail .back {
  background: rgb(221, 88, 0);
  color: #fff;
  text-align: center;
  height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

main.run-detail .save {
  background: rgb(97, 199, 15);
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  height: 100px;
}

main.run-detail .order-info {
  height: calc(100% - 130px);
}
table {
  border-collapse: collapse;
}
table td,
table th {
  text-align: left;
  border: 1px solid #000;
  padding: 5px;
}
table th {
  background: #000;
  color: #fff;
}
table tbody tr:nth-child(2n) td {
  background: rgb(221, 221, 221);
}
table tr td:first-child,
table tr th:first-child {
  text-align: center;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
button {
  border: none;
}